@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2F0ED;
  --foreground: #111111;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Scrollbar Gizleme / Özelleştirme */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #F2F0ED;
  border-left: 2px solid #111;
}
::-webkit-scrollbar-thumb {
  background: #111;
  border: 2px solid #F2F0ED;
}

/* Custom Utilities */
.text-stroke {
  -webkit-text-stroke: 1px #111;
  color: transparent;
}
